<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522005934698-3l9o5657a32poupvqkc2mm1c2ei64m96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522005934698-3l9o5657a32poupvqkc2mm1c2ei64m96</string>
	<key>API_KEY</key>
	<string>AIzaSyCWc7iSniD4rXQhv9ciYqEzmsdHnxnw-gY</string>
	<key>GCM_SENDER_ID</key>
	<string>522005934698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multipleScreens</string>
	<key>PROJECT_ID</key>
	<string>dass-team-15</string>
	<key>STORAGE_BUCKET</key>
	<string>dass-team-15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522005934698:ios:b350de6c54fa1c1a489013</string>
	<key>DATABASE_URL</key>
	<string>https://dass-team-15-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>